

<div class="cardListing singleProduct"  *ngIf="singleProduct">
    <div class="card-header">
        Poducts Details
      </div>


      <div class="card-body" >
        <img class="card-img" src="../../../assets/img/{{product.image}}.png">
        <h2 class="card-title">{{product.productTitle}}</h2>
        <h3 class="card-title">{{product.prodcutSubtitle}}</h3>
        <h3 class="card-title">{{product.price}} EGP</h3>
        <small class="card-badge --green" *ngIf="product.isHotDeal">Hot Deal</small>
        <small class="card-badge --orange" *ngIf="product.isHotSale">Hot Sale</small>
      
        <div class="card-rate rate-{{product.productRate}}">
         
            <i class="material-icons"  *ngFor="let item of [].constructor(5); let i = index">
                star
                </i>
        </div>
        
        <small class="card-title" *ngIf="product.inStock">available in stock</small>
        <small class="card-title" *ngIf="!product.inStock"> Not available in stock</small>
    
       <br>
        <a *ngIf="page" [routerLink]="['/products', product.id]" class="btn btn-primary">Click for more details</a>
      </div>
    



        <a (click)=goToProductsPage() class="btn btn-primary">Go Back</a>
  
    </div>
  